.self-btn {
  width: 116px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  border-radius: 2px;
  color: #fff;
  background-color: $btnBlue;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: .2s ease;
  &.cancel {
    background-color: $btnGray;
  }
  &:hover {
    opacity: .8;
  }
}