.mass-detail {
  width: 475px;
  margin: 60px auto 0;
  .users {
    padding-left: 70px;
    position: relative;
    line-height: 38px;
    .ant-select-selection__rendered {
      line-height: 38px;
    }
    .ant-select-selection--multiple .ant-select-selection__rendered > ul > li {
      margin-top: 7px;
    }
    .label {
      position: absolute;
      left: 12px;
      top: 0;
    }
  }
  .context {
    margin-top: 10px;
    .warn {
      text-align: center;
      color: $fc3;
      font-size: 14px;
      margin: 12px 0 20px;
    }
  }
  .bottom {
    text-align: center;
  }
}